:root{
 --KurveLuftInTemp:  #ff0000;
 --KurveLuftIn2Temp: #ee6969;
 --KurveLuftAuTemp:  #0026ff;
 --KurveBoden1Temp:  #8e4204;
 --KurveBoden2Temp:  #c96009;
 --KurveBoden3Temp:  #f8bd1c;
 --KurveLuftInFeuch: #ff0000;
 --KurveLuftIn2Feuch:#ee6969;
 --KurveLuftAuFeuch: #0026ff;
 --KurveBoden1Feuch: #55056e;
 --KurveBoden2Feuch: #8e09b6;
 --KurveBoden3Feuch: #df9df4;
 --KurveBoden4Feuch: #6229cc;
 --KurveLuftdruck:   #b636a5;
 --KurveStrom:       #cb4fa6;
 --KurveRelais:      #8a8484;
}


body {
    margin: 0;
    background-color: #c7f4c7;
    height: 1000px;
  }

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #004d1a;
    color: #e6ffee;
    text-align: left;
    font-size: 20px;
    padding: 8px 300px 10px 10px;
    margin: 0;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
  }

h2 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 12px;
    background-color: #099738;
    color: #e9c812;
    text-align: left;
    padding: 5px 300px 5px 5px;
    width: 100%;
  }

table {
    font-family: arial, san-serif;
    font-size: 12px;
    border-collapse: collapse;
    width: 60%;
    max-width: 800px;
  }

th {
    background-color: #009933;
    color: white;
  }

td,
th {
    border: 0px solid #000000;
    text-align: right;
    padding: 10px;
  }

tr:nth-child(even) {
    background-color: #ccffcc;
  }

tr:nth-child(odd) {
    background-color: #f9ffe5;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #004D1A;
  }

  .button_O {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #FF0000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .button_I {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fde908;
    background-color: #1f7a1f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .button_O:hover {
    background-color: #b30000
  }

  .button_I:hover {
    background-color: #103d10
  }

  .button_O:active {
    background-color: #4d0000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button_I:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .kurve{
    width: 100%;
    max-width: 800px; 
    display: block;
    background-color: #f9ffe5;
  }
  .InfoIcon{
    font-size:30px;
    color: blue;
    }